# Weather Analysis

In [2]:
# Data frames.
import pandas as pd

## Collecting the Data

The following code outputs the filename used to store the data file.
```bash
date +"%Y%m%d_%H%M%S_athenry.json
```
The %Y is replaced by the four-digit year (e.g. 2024).
etc.
etc.

## Analysing the Data

In [4]:
# Read the data
df = pd.read_json('data/weather/20241110_001729_athenry.json')

In [6]:
# Show.
df.head()

,name,temperature,symbol,weatherDescription,text,windSpeed,windGust,cardinalWindDirection,windDirection,humidity,rainfall,pressure,dayName,date,reportTime
0,Athenry,13,04n,Cloudy,"""Cloudy""",9,-,S,180,94,0,1021,Sunday,2024-10-11,00:00

In [7]:
# Describe.
df.describe()

,temperature,windSpeed,windDirection,humidity,rainfall,pressure,date
count,1.0,1.0,1.0,1.0,1.0,1.0,1
mean,13.0,9.0,180.0,94.0,0.0,1021.0,2024-10-11 00:00:00
min,13.0,9.0,180.0,94.0,0.0,1021.0,2024-10-11 00:00:00
25%,13.0,9.0,180.0,94.0,0.0,1021.0,2024-10-11 00:00:00
50%,13.0,9.0,180.0,94.0,0.0,1021.0,2024-10-11 00:00:00
75%,13.0,9.0,180.0,94.0,0.0,1021.0,2024-10-11 00:00:00
max,13.0,9.0,180.0,94.0,0.0,1021.0,2024-10-11 00:00:00
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## End